<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForceFeedbackButtonTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForceFeedbackButtonTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.40.253" newVersion="12.0.40.253"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <ForceFeedbackButtonTest.My.MySettings>
   <setting name="LastDeviceID" serializeAs="String">
    <value />
   </setting>
   <setting name="LastOperator" serializeAs="String">
    <value />
   </setting>
   <setting name="LastNumCycles" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LastTotalFailLimit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastEndOnCycles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastDataFilePath" serializeAs="String">
    <value>C:\Users\sandheep\Desktop\tmp</value>
   </setting>
   <setting name="LastEndOnConsecSwitchFailures" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastEndOnTotalSwitchFailures" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastConsecFailLimit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastDwellTime" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="LastFixtureErrorCyles" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastEndOnFixtureErrorCycles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastIgnoreSwitchStatus" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastRelPos" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastTargetForce" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="LastZTargetForce" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="LastTravelEndCond" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastDAQFrequency" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastChkCycles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastChkTotalButtonFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastChkConsecButtonFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastChkFixtureFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastGraphDisplay" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VelX" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="AccX" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="DecX" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="JerkX" serializeAs="String">
    <value>10000</value>
   </setting>
   <setting name="KDecX" serializeAs="String">
    <value>100000</value>
   </setting>
   <setting name="LastZeroPosition" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastLimitForce" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastForceLimit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastXPos" serializeAs="String">
    <value>10</value>
   </setting>
  </ForceFeedbackButtonTest.My.MySettings>
 </userSettings>
 <applicationSettings>
  <ForceFeedbackButtonTest.My.MySettings>
   <setting name="ACSIP" serializeAs="String">
    <value>10.0.0.100</value>
   </setting>
   <setting name="AIRes" serializeAs="String">
    <value>32768</value>
   </setting>
   <setting name="FullScaleForce" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="AIScale" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LongTimeOut" serializeAs="String">
    <value>200000000</value>
   </setting>
   <setting name="ShortTimeOut" serializeAs="String">
    <value>5000000</value>
   </setting>
   <setting name="FullScaleVoltage" serializeAs="String">
    <value>10</value>
   </setting>
  </ForceFeedbackButtonTest.My.MySettings>
 </applicationSettings>
</configuration>
