<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlassUniversalHingeTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlassUniversalHingeTest.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NationalInstruments.Common" publicKeyToken="DC6AD606294FC298" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.40.253" newVersion="12.0.40.253"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <GlassUniversalHingeTest.My.MySettings>
   <setting name="LastDeviceID" serializeAs="String">
    <value />
   </setting>
   <setting name="LastOperator" serializeAs="String">
    <value />
   </setting>
   <setting name="LastNumCycles" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LastTotalFailLimit" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastEndOnCycles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastDataFilePath" serializeAs="String">
    <value>C:\Users\sandheep\Desktop\tmp</value>
   </setting>
   <setting name="LastDwellTime" serializeAs="String">
    <value>250</value>
   </setting>
   <setting name="LastFixtureErrorCyles" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastEndOnFixtureErrorCycles" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastRelPos" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastMotionMode" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="LastDAQFrequency" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastChkCycles" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="LastChkFixtureFail" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastGraphDisplay" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="VelTheta" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="AccTheta" serializeAs="String">
    <value>360</value>
   </setting>
   <setting name="DecTheta" serializeAs="String">
    <value>360</value>
   </setting>
   <setting name="JerkTheta" serializeAs="String">
    <value>3600</value>
   </setting>
   <setting name="KDecTheta" serializeAs="String">
    <value>3600</value>
   </setting>
   <setting name="LastZeroPosition" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastLimitTorque" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LastTorqueLimit" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="LastThetaPos" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="CrystalNeutralTheta" serializeAs="String">
    <value>88.105</value>
   </setting>
   <setting name="TempleNeutralTheta" serializeAs="String">
    <value>-17.48</value>
   </setting>
   <setting name="CrystalGapTheta" serializeAs="String">
    <value>4.695</value>
   </setting>
   <setting name="TempleGapTheta" serializeAs="String">
    <value>4.05</value>
   </setting>
   <setting name="LastDeviceType" serializeAs="String">
    <value>0</value>
   </setting>
  </GlassUniversalHingeTest.My.MySettings>
 </userSettings>
 <applicationSettings>
  <GlassUniversalHingeTest.My.MySettings>
   <setting name="ACSIP" serializeAs="String">
    <value>10.0.0.102</value>
   </setting>
   <setting name="AIRes" serializeAs="String">
    <value>32768</value>
   </setting>
   <setting name="FullScaleTorque" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="AIScale" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="LongTimeOut" serializeAs="String">
    <value>200000000</value>
   </setting>
   <setting name="ShortTimeOut" serializeAs="String">
    <value>5000000</value>
   </setting>
   <setting name="FullScaleVoltage" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="HomeVelTheta" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="DefaultVelTheta" serializeAs="String">
    <value>180</value>
   </setting>
   <setting name="DefaultAccTheta" serializeAs="String">
    <value>360</value>
   </setting>
   <setting name="DefaultDecTheta" serializeAs="String">
    <value>360</value>
   </setting>
   <setting name="DefaultJerkTheta" serializeAs="String">
    <value>3600</value>
   </setting>
   <setting name="DefaultKDecTheta" serializeAs="String">
    <value>3600</value>
   </setting>
   <setting name="DefaultCrystalNeutralTheta" serializeAs="String">
    <value>88.105</value>
   </setting>
   <setting name="DefaultTempleNeutralTheta" serializeAs="String">
    <value>-17.48</value>
   </setting>
   <setting name="DefaultCrystalGapTheta" serializeAs="String">
    <value>4.695</value>
   </setting>
   <setting name="DefaultTempleGapTheta" serializeAs="String">
    <value>4.05</value>
   </setting>
  </GlassUniversalHingeTest.My.MySettings>
 </applicationSettings>
</configuration>
